<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <p>Что куплено, давай посчитаем!</p>
    <div id="app" class="app">
        <form v-on:submit="addProduct">
            <input type="text" v-model="title" placeholder="название товара">
            <input type="number" v-model="price" placeholder="стоимость">
            <input type="number" v-model="count" placeholder="количество">
            <button>Добавить</button>
        </form>
        <ol>
            <transition-group name="list">
                <li v-for="product in sortOrder" :key="product.id"> {{product.title}},
                    <strong>Стоимость: </strong> {{product.price}} руб
                    <strong>количество: </strong> {{product.count}} 
                </li>
            </transition-group>
        </ol>
        <div v-if="totalPrice > 0">
            Стоимость покупки: <Strong>{{totalPrice}}</Strong> руб
        </div>
    </div>
   <script src="/index.js"></script>
   
</body>
</html>